{
    "presets": [
        "react-native"
    ],
    "plugins": [
        [
            "import",
            {
                "style": "css.web",
                "libraryName": "antd-mobile"
            }
        ]
    ]
}